@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.page-link.nuxt-link-exact-active {
  @apply bg-blue-500 text-white;
}

.menu-link.nuxt-link-active {
  @apply text-blue-600 ;
}

.btn-action {
  @apply px-5 py-2 border-blue-500 border text-blue-500 rounded transition duration-300;
}
.btn-action:hover {
  @apply bg-blue-700 text-white;
}
.btn-action:focus {
  @apply outline-none;
}

.btn {
  @apply inline-block px-5 py-3 rounded-lg text-sm uppercase tracking-wider font-semibold;
}

.question-link {
  @apply -ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium text-gray-700  transition ease-in-out duration-150;
}
.question-link.active {
  @apply border border-blue-300 bg-blue-400;
}
.question-link.current {
  @apply border border-orange-300 bg-orange-400;
}
.question-link:hover {
  @apply text-gray-500;
}
.question-link:focus {
  @apply z-10 outline-none border-blue-300 shadow-outline-blue;
}
.question-link:active {
  @apply text-gray-700;
}