<template>
  <!-- component -->
  <div
    class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 pr-0 md:pr-10 lg:px-8"
  >
    <div
      class="align-middle rounded-tl-lg rounded-tr-lg inline-block w-full py-4 overflow-hidden bg-white shadow-lg px-12"
    >
      <div class="text-3xl mb-8 text-gray-600">Daftar Pelajaran</div>
      <div class="grid grid-cols-12 gap-4">
        <div
          class="inline-flex border rounded col-span-12 sm:col-span-8 px-2 lg:px-6 h-12 bg-transparent"
        >
          <div class="flex flex-wrap items-stretch w-full h-full mb-6 relative">
            <div class="flex">
              <span
                class="flex items-center leading-normal bg-transparent rounded rounded-r-none border border-r-0 border-none lg:px-3 py-2 whitespace-no-wrap text-grey-dark text-sm"
              >
                <svg
                  width="18"
                  height="18"
                  class="w-4 lg:w-auto"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8.11086 15.2217C12.0381 15.2217 15.2217 12.0381 15.2217 8.11086C15.2217 4.18364 12.0381 1 8.11086 1C4.18364 1 1 4.18364 1 8.11086C1 12.0381 4.18364 15.2217 8.11086 15.2217Z"
                    stroke="#455A64"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M16.9993 16.9993L13.1328 13.1328"
                    stroke="#455A64"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
            </div>
            <input
              type="text"
              class="flex-shrink flex-grow flex-auto leading-normal tracking-wide w-px flex-1 border border-none border-l-0 rounded rounded-l-none px-3 relative focus:outline-none text-xxs lg:text-xs lg:text-base text-gray-500 font-thin"
              placeholder="Search"
              v-model="searchparams.search"
              @keyup.enter="setFilter('search', searchparams.search)"
            />
          </div>
        </div>
        <div class="col-span-12 sm:col-span-4 p-2">
          <nuxt-link
            to="/courses/create"
            class="btn-action"
          >
            Tambah Pelajaran
          </nuxt-link>
        </div>
      </div>
    </div>
    <div
      class="align-middle inline-block min-w-full shadow overflow-hidden bg-white shadow-dashboard px-8 pt-3 rounded-bl-lg rounded-br-lg"
    >
      <table class="min-w-full">
        <thead>
          <tr>
            <th
              class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider"
            >
              ID
            </th>
            <th
              class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider"
            >
              Nama Pelajaran
            </th>
            <th
              class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider"
            >
              Level
            </th>
            <th
              class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider"
            >
              Created At
            </th>
            <th class="px-6 py-3 border-b-2 border-gray-300"></th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <tr v-for="course in data" :key="course.id">
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
              <div class="flex items-center">
                <div>
                  <div class="text-sm leading-5 text-gray-800">#{{ course.id }}</div>
                </div>
              </div>
            </td>
            <td
              class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5"
            >
              {{ course.name }}
            </td>
            <td
              class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5"
            >
              {{ course.course_level }}
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
              <div class="text-sm leading-5 text-blue-900">
                {{ course.created_at_str }}
              </div>
            </td>
            <td
              class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-500 text-sm leading-5"
            >
              <nuxt-link
                :to="`/courses/contents/${course.id}`"
                class="px-5 py-2 btn-action mr-2"
              >
                Materi
              </nuxt-link>
              <nuxt-link
                :to="`/courses/view/${course.id}`"
                class="px-5 py-2 btn-action"
              >
                View Details
              </nuxt-link>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        class="sm:flex-1 sm:flex sm:items-center sm:justify-between mt-4 work-sans"
        v-if="pagination.total > 0"
      >
        <div>
          <p class="text-sm leading-5 text-blue-700">
            Showing
            <span class="font-medium">{{ pagination.first_item }}</span>
            to
            <span class="font-medium">{{ pagination.last_item}}</span>
            of
            <span class="font-medium">{{ pagination.total }}</span>
            results
          </p>
        </div>
        <div>
          <nav class="relative z-0 inline-flex shadow-sm">
            <div v-if="pagination.current_page > 1">
              <router-link
                href="#"
                class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150"
                aria-label="Previous"
                :to="pageLink(this.pagination.current_page - 1)"
              >
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path
                    fill-rule="evenodd"
                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
              </router-link>
            </div>
            <div>
              <router-link
                v-for="pp in pagination.pages"
                :to="pageLink(pp)"
                :key="'page-' + pp"
                class="-ml-px page-link relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-blue-700 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary"
              >
                {{ pp }}
              </router-link>
            </div>
            <div v-if="pagination.current_page < pagination.last_page">
              <router-link
                class="-ml-px relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150"
                aria-label="Next"
                :to="pageLink(pagination.current_page + 1)"
              >
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path
                    fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
              </router-link>
            </div>
          </nav>
        </div>
      </div>
      <div class="mt-8 mb-8" v-else>
        Data belum tersedia
      </div>
    </div>
  </div>
</template>

<script>
import { parseParams, stringifyParams } from "@/utils";

export default {
  middleware: "auth",
  layout: "teacher",
  watchQuery: ["params"],
  scrollToTop: true,
  async asyncData({ $axios, params }) {
    let searchparams = parseParams(params.params);
    const resp = await $axios.$get('/course', {
      params: {
        searchparams: searchparams,
      },
    })
    return {
      data: resp.data,
      pagination: resp.pagination,
      searchparams: searchparams,
    }
  },
  data() {
    return {
    }
  },
  methods: {
    pageLink(page) {
      let searchparams = JSON.parse(JSON.stringify(this.searchparams))
      searchparams.page = page
      return { 
        name: this.$route.name, 
        params: {
          params: stringifyParams(searchparams)
        }
      }
    },
    setFilter(col, val) {
      let searchparams = JSON.parse(JSON.stringify(this.searchparams))
      searchparams[col] = val
      delete searchparams.page
      this.$router.replace({ 
        name: this.$route.name, 
        params: {
          params: stringifyParams(searchparams)
        }
      })
    },
    changePage() {

    }
  }
};
</script>

<style>
</style>