<template>
  <div class="bg-white shadow rounded-lg p-6">
    <div class="text-3xl mb-8 text-gray-600">Edit Materi Pelajaran</div>
    <div class="w-full lg:w-5/6">
      <div class="grid lg:grid-cols-2 gap-6 mt-4">
        <FormInput label="Judul" name="title" v-model="form.title" :required="true" />
        <FormSelect label="Tipe" name="type" v-model="form.type" :required="true" :options="types" />
      </div>
      <div class="grid lg:grid-cols-1 gap-6 mt-4" v-if="form.type == 'html'">
        Konten
        <ckeditor :editor="editor" v-model="form.content.html" :config="editorConfig"></ckeditor>
      </div>
    </div>
    <div class="border-t mt-6 pt-3">
      <button class="btn-action" @click="submit()"
        :class="loading ? 'opacity-50 cursor-not-allowed' : ''"
        :disabled="loading">
        Save
      </button>
    </div>
  </div>
</template>

<script>
import CKEditor from '@ckeditor/ckeditor5-vue';
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
export default {
  middleware: "auth",
  layout: "teacher",
  components: {
    ckeditor: CKEditor.component
  },
  data() {
    return {
      errors: {},
      loading: false,
      types: [
        {label: 'HTML', value: 'html'},
        {label: 'Video', value: 'video'},
      ],
      editor: ClassicEditor,
      editorConfig: {
      },
    }
  },
  async asyncData({ $axios, params}) {
    let form = (await $axios.$get('/course-content/'+params.id)).data
    return {
      form
    }
  },
  methods: {
    async submit() {
      this.loading = true
      try {
        await this.$axios.$patch('/course-content/' + this.$route.params.id, this.form)
        this.$toast.show({
          type: 'success',
          title: 'Sukses',
          message: 'Data berhasil diupdate',
        })
      } catch (e) {
        if (e.response.data && e.response.data.errors) {
          this.errors = e.response.data.errors
        }
        this.$toast.show({
          type: 'danger',
          title: 'Error',
          message: 'Gagal menyimpan data. Mohon cek formulir Anda',
        })
      }
      this.loading = false
    }
  }
}
</script>

<style>

</style>