<template>
  <div class="w-full h-screen flex">
    <img
      src="https://images.unsplash.com/photo-1540569876033-6e5d046a1d77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
      alt="background"
      class="object-cover object-center h-screen w-7/12"
    />
    <div
      class="bg-white flex flex-col justify-center items-center w-5/12 shadow-lg"
    >
      <h1 class="text-3xl font-bold text-orange-500 mb-2">LOGIN</h1>
      <div class="w-1/2 text-center">
        <input
          type="text"
          name="username"
          v-model="data.username"
          @keyup.enter="$refs.password.focus()"
          placeholder="username"
          autocomplete="off"
          class="shadow-md border w-full h-10 px-3 py-2 text-orange-500 focus:outline-none focus:border-orange-500 mb-3 rounded"
        />
        <input
          type="password"
          name="password"
          ref="password"
          v-model="data.password"
          @keyup.enter="login"
          placeholder="password"
          autocomplete="off"
          class="shadow-md border w-full h-10 px-3 py-2 text-orange-500 focus:outline-none focus:border-orange-500 mb-3 rounded"
        />
        <button
          class="bg-orange-500 hover:bg-orange-600 text-white px-3 py-1 rounded text-lg focus:outline-none shadow"
          :class="loading ? 'opacity-50 cursor-not-allowed' : ''"
          @click="login"
          :disabled="loading"
        >
          Sign In
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: "guest",
  data() {
    return {
      data: {
        username: '',
        password: '',
      },
      loading: false,
    }
  },
  methods: {
    async login() {
      if (this.loading) {
        return
      }
      this.loading = true
      let data;
 
      // Submit the form.
      try {
        data = await this.$axios.$post("/auth/login", this.data);
      } catch (e) {
        this.$toast.show({
          type: 'danger',
          title: 'Login gagal',
          message: 'Mohon cek username / password Anda',
        })
        this.loading = false
        return;
      }
 
      // Save the token.
      this.$store.dispatch("auth/saveToken", {
        token: data.token,
        remember: this.remember,
      });
 
      // Fetch the user.
      let user = await this.$store.dispatch("auth/fetchUser");
 
      // Redirect home.
      if (window.previousPath) {
        this.$router.push(window.previousPath);
      } else {
        this.$router.push("/dashboard");
      }
    },

  }
};
</script>

<style>
</style>