<template>
  <div class="bg-white shadow rounded-lg p-6">
    <div class="text-3xl mb-8 text-gray-600">Data course</div>
    <table class="text-left w-full border-collapse">
      <tbody>
        <tr class="hover:bg-grey-lighter">
          <td class="py-4 px-6 border-b border-grey-light text-right">Judul</td>
          <td class="py-4 px-6 border-b border-grey-light">
            {{ course_content.title }}
          </td>
        </tr>
        <tr class="hover:bg-grey-lighter">
          <td class="py-4 px-6 border-b border-grey-light text-right">Tipe</td>
          <td class="py-4 px-6 border-b border-grey-light">
            {{ course_content.type }}
          </td>
        </tr>
        <tr class="hover:bg-grey-lighter" v-if="course_content.type == 'html'">
          <td class="py-4 px-6 border-b border-grey-light text-right">Konten</td>
          <td class="py-4 px-6 border-b border-grey-light" v-html="course_content.content.html">
          </td>
        </tr>
        <tr class="hover:bg-grey-lighter" v-if="course_content.type == 'video'">
          <td class="py-4 px-6 border-b border-grey-light text-right">Video</td>
          <td class="py-4 px-6 border-b border-grey-light">
            <iframe width="560" height="315" :src="course_content.content.url_video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </td>
        </tr>
        <tr class="hover:bg-grey-lighter">
          <td class="py-4 px-6 border-b border-grey-light text-right">Aksi</td>
          <td class="py-4 px-6 border-b border-grey-light">
            <router-link :to="`/courses/contents/${course_content.course_id}/edit/${course_content.id}`" class="text-grey-lighter py-1 px-3 rounded text-xs text-white bg-green-500 hover:bg-green-700">Edit</router-link>
            <button class="text-grey-lighter py-1 px-3 rounded text-xs text-white bg-red-500 hover:bg-red-700"
              @click="promptDelete()">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  layout: 'teacher',
  async asyncData({ $axios, params }) {
    let course_content = (await $axios.$get('/course-content/'+params.id)).data
    return {
      course_content
    }
  },
  methods: {
    promptDelete() {
      this.$modal.show({
        type: 'danger',
        title: 'Apakah Anda yakin untuk menghapus data ini?',
        body: 'Data yang dihapus tidak dapat dikembalikan',
        primary: {
          label: 'Hapus',
          theme: 'red',
          action: () => this.doDelete(),
        },
        secondary: {
          label: 'Batalkan',
          theme: 'white',
          action: () => {},
        },
      })
    },
    async doDelete() {
      await this.$axios.$delete('/course-content/'+this.$route.params.id)
      this.$toast.success('Data berhasil dihapus')
      this.$router.replace(`/courses/contents/${this.course_content.course_id}`)
    }
  }
}
</script>

<style>

</style>