<template>
  <div class="bg-white rounded-lg shadow">
    <div class="w-full flex items-center justify-between p-4 space-x-6">
      Daftar Pertanyaan
      <PushButton @click="$emit('finish', true)">
        <IconOfficePhone class="w-5 h-5 mr-2" primary="text-purple-300" secondary="text-purple-400"/>
        Selesai
      </PushButton>
    </div>
    <div class="h-64 overflow-y-scroll" ref="holder">
      <template v-for="(q, group) in questionGroups">
        <div
          class="w-full justify-between px-4 space-x-6"
          :key="'title-' + group"
        >
          # {{ group }}
        </div>
        <nav
          class="relative z-0 grid grid-cols-5 shadow-sm p-4"
          :key="'shortcut-' + group"
        >
          <nuxt-link
            :to="'/exam/' + exam.id + '/' + qs.id"
            class="question-link"
            v-for="qs in q"
            :id="'soal-' + qs.id"
            :key="qs.id"
            :class="{
              active: answer[qs.id],
              current: question.id == qs.id
            }"
          >
            {{ qs.no }}
          </nuxt-link>
        </nav>
      </template>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
var groupBy = function (xs, key) {
  return xs.reduce(function (rv, x) {
    (rv[x[key]] = rv[x[key]] || []).push(x);
    return rv;
  }, {});
};
export default {
  props: {
    questions: {
      type: Array,
      required: true,
    },
    exam: {
      type: Object,
      required: true,
    },
    question: {
      type: Object,
      required: true,
    },
  },
  computed: {
    ...mapGetters({
      exam_answer: "answer/answer",
    }),
    questionGroups() {
      return groupBy(this.questions, "question_group");
    },
    answer() {
      if (!this.exam_answer[this.exam.id]) {
        return false;
      }
      return this.exam_answer[this.exam.id];
    },
  },
  methods: {
    findPos(obj) {
      var curtop = 0;
      if (obj.offsetParent) {
        do {
          curtop += obj.offsetTop;
        } while (obj = obj.offsetParent);
      }
      return curtop;
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.$refs.holder.scrollTop = this.findPos(document.getElementById('soal-' + this.question.id)) - 200
    })
  },
  data() {
    return {};
  },
};
</script>
