<template>
  <div class="bg-white rounded-lg shadow">
    <div class="w-full flex items-center justify-between p-6 space-x-6">
      <div class="flex-1">
        <div class="flex items-center space-x-3">
          <h3 class="text-gray-900 text-sm leading-5 font-medium">
            {{ question.no }}. <span v-html="question.question"></span>
          </h3>
        </div>
        <div v-if="question.type == 'options'">
          <div class="mt-3 text-gray-500 text-sm leading-5" v-for="option in question.options" :key="option.id">
            <label class="py-2">
              <input type="radio" :value="option.id" v-model="canswer" :disabled="disabled || disableOptions.indexOf(option.id) > -1" @change="saveAnswer" v-if="exam.configurations && exam.configurations.autonext">
              <input type="radio" :value="option.id" v-model="canswer" :disabled="disabled || disableOptions.indexOf(option.id) > -1" v-else>
              {{ option.label }}
            </label>
          </div>
        </div>
        <div v-if="question.type == 'text'">
          <textarea v-model="canswer"></textarea>
        </div>
      </div>
    </div>
    <div class="border-t border-gray-200" v-if="question.type == 'options' && !disabled && !(exam.configurations && exam.configurations.autonext)">
      <div class="-mt-px flex">
        <div class="w-0 flex-1 flex border-r border-gray-200">
          <button
            class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm leading-5 text-gray-700 font-medium border border-transparent rounded-bl-lg transition ease-in-out duration-150 hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10"
            @click="saveAnswer"
          >
            <IconCheck class="w-5 h-5" primary="text-green-300" secondary="text-green-400" />
            <span class="ml-3">Simpan</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    question: {
      type: Object,
      required: true,
    },
    exam: {
      type: Object,
      required: true,
    },
    disableOptions: {
      type: Array,
    },
    disabled: {
      type: Boolean,
    },
    answer: {
      required: true,
    }
  },
  data() {
    return {
      canswer: this.answer
    }
  },
  methods: {
    saveAnswer() {
      console.log("Trigger save answer", this.canswer)
      this.$emit('save', this.canswer)
    },
  },
  mounted() {
    this.$nuxt.$on('save-answer', this.saveAnswer)
  },
  beforeDestroy() {
    this.$nuxt.$off('save-answer', this.saveAnswer)
  }
}
</script>
