<template>
  <div class="p-2 lg:p-8 flex">
    <div
      v-if="questions.length > 0"
      class="bg-gray-100 rounded w-3/4"
    >
      <QuestionCard :question="question" :answer="answer" @save="saveAnswer" :exam="exam" :disableOptions="disableOptions" />
      <template v-if="exam.configurations && exam.configurations.validation && exam.configurations.validation.question_group && exam.configurations.validation.question_group[question.question_group]">
        <div class="bg-white rounded-lg shadow overflow-hidden p-6 pl-12 mt-4" v-if="exam.configurations.validation.question_group[question.question_group].limit_answer">
          Jawaban {{ exam.configurations.validation.question_group[question.question_group].limit_answer.option_id }}: 
          {{ countAnswerGroups(questionGroups[question.question_group], exam.configurations.validation.question_group[question.question_group].limit_answer.option_id) }}
          / {{exam.configurations.validation.question_group[question.question_group].limit_answer.max_count}}
        </div>
      </template>
      <template v-if="exam.configurations && exam.configurations.message && exam.configurations.message.question_group && exam.configurations.message.question_group[question.question_group]">
        <div class="bg-white rounded-lg shadow overflow-hidden p-6 pl-12 mt-4">
          <p v-html="exam.configurations.message.question_group[question.question_group]"></p>
        </div>
      </template>
    </div>
    <div
      v-if="questions.length > 0"
      class="bg-gray-100 rounded w-1/4 pl-4"
    >
      <QuestionsList :questions="questions" :exam="exam" :question="question" @finish="finish" />
    </div>
  </div>
</template>

<script>
var groupBy = function (xs, key) {
  return xs.reduce(function (rv, x) {
    (rv[x[key]] = rv[x[key]] || []).push(x);
    return rv;
  }, {});
};
import { mapGetters } from "vuex";
export default {
  watchQuery: ['examid', 'questionid'],
  computed: {
    ...mapGetters({
      exam_answer: "answer/answer",
      exam_answer_ids: "answer/answer_ids"
    }),
    questionGroups() {
      return groupBy(this.questions, "question_group");
    },
    disableOptions() {
      if (this.exam.configurations && this.exam.configurations.validation && this.exam.configurations.validation.question_group && this.exam.configurations.validation.question_group[this.question.question_group]) {
        if (this.countAnswerGroups(this.questionGroups[this.question.question_group], this.exam.configurations.validation.question_group[this.question.question_group].limit_answer.option_id)
          >= this.exam.configurations.validation.question_group[this.question.question_group].limit_answer.max_count) {
          return [this.exam.configurations.validation.question_group[this.question.question_group].limit_answer.option_id]
        }
      }
      return []
    },
  },
  async asyncData({ $axios, params, redirect, store }) {
    if (!store.getters['answer/answer_ids'][params.examid]) {
      redirect('/register/'+params.examid)
    }
    let exam = await store.dispatch('exam/fetchExam', params.examid)
    let questions = exam.questions;
    if (!params.questionid) {
      redirect(`/exam/${params.examid}/${questions[0].id}`)
    }
    let index = questions.findIndex((q) => {
      return q.id == params.questionid
    })
    let answer = store.getters['answer/answer'][params.examid] ? store.getters['answer/answer'][params.examid][params.questionid] : undefined
    return {
      exam: exam,
      questions: questions,
      question: questions[index],
      index: index,
      answer: answer,
    };
  },
  data() {
    return {
    };
  },
  mounted() {
  },
  methods: {
    getUnanswered() {
      let answers = this.exam_answer[this.$route.params.examid]
      let unanswered = []
      for (var i = 0; i < this.questions.length; i++) {
        if (!answers[this.questions[i].id]) {
          unanswered.push(this.questions[i])
        }
      }
      return unanswered
    },
    saveAnswer(answer) {
      if (!answer) {
        this.$toast.show({
          type: 'danger',
          title: 'Terjadi kesalahan',
          message: 'Jawaban belum dipilih',
        })
        return
      }
      this.$store.dispatch('answer/setAnswer', {
        exam_id: this.$route.params.examid, 
        question_id: this.$route.params.questionid, 
        answer: answer
      })
      if (this.index < this.questions.length - 1) {
        let nextno = this.questions[this.index + 1]
        console.log('nextno', nextno)
        this.$router.push(`/exam/${this.$route.params.examid}/${nextno.id}`)
      } else {
        this.finish()
      }
    },
    finish(withoutSave) {
      if (!withoutSave) {
        let unanswered = this.getUnanswered()
        if (!unanswered.length) {
          this.$router.push(`/exam/${this.$route.params.examid}/finish`)
        } else {
          this.$nuxt.$toast.show({
            type: 'danger',
            message: 'Pertanyaan no ' + unanswered[0].no + ' belum dijawab',
          })
          this.$nextTick(() => {
            this.$router.push(`/exam/${this.$route.params.examid}/${unanswered[0].id}`)
          })
        }
      } else {
        this.$nuxt.$emit('save-answer')
      }
    },
    countAnswerGroups(questions, option_id) {
      let answers = this.exam_answer[this.$route.params.examid]
      let total = 0
      for (var i = 0; i < questions.length; i++) {
        if (answers[questions[i].id] == option_id) {
          total++
        }
      }
      return total
    },
  },
};
</script>
