<template>
  <div class="lg:p-8 flex flex-col">
    <div class="m-8 flex items-center justify-center">
      <ButtonGroup>
        <PushButton group="left" @click="saveAnswer">
          <IconCheck class="w-5 h-5 mr-2" primary="text-green-300" secondary="text-green-400"/>
          Kirim Jawaban
        </PushButton>
        <PushButton group="right" @click="$router.push($route.params.examid)">
          <IconOfficePhone class="w-5 h-5 mr-2" primary="text-orange-300" secondary="text-orange-400"/>
          Edit Jawaban
        </PushButton>
      </ButtonGroup>
    </div>
    <ul v-if="questions.length > 0" class="grid grid-cols-1 gap-6 bg-gray-100 rounded p-8 w-full">
      <QuestionCard v-for="q in questions" :question="q" :key="q.id" :answer="answer[$route.params.examid][q.id]" :exam="exam" :disabled="true" />
    </ul>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  async asyncData({ $axios, params, redirect, store }) {
    let exam = await store.dispatch('exam/fetchExam', params.examid)
    let questions = exam.questions;
    return {
      questions: questions,
    };
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      answer: "answer/answer"
    })
  },
  methods: {
    async saveAnswer() {
      let resp = await this.$store.dispatch('answer/submitAnswer', {
        exam_id: this.$route.params.examid, 
      })
      this.$router.push("/")
    },
  },
};
</script>
